<?xml version="1.0"?>
<PBIWebApp.Properties.Settings>
  <setting name="PowerBiAPIResource" serializeAs="String">
    <value>https://analysis.windows.net/powerbi/api</value>
  </setting>
  <setting name="AADAuthorityUri" serializeAs="String">
    <value>https://login.windows.net/common/</value>
  </setting>
  <setting name="PowerBiDataset" serializeAs="String">
    <value>https://api.powerbi.com/v1.0/myorg/</value>
  </setting>
  <setting name="RedirectUrl" serializeAs="String">
    <value>http://localhost:13526/</value>
  </setting>
  <setting name="PowerBiApiUrl" serializeAs="String">
    <value>https://api.powerbi.com/</value>
  </setting>
  <setting name="ReportId" serializeAs="String">
    <value />
  </setting>
  <setting name="Scope" serializeAs="Xml">
    <value>
      <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <string>https://analysis.windows.net/powerbi/api/Report.Read.All</string>
        <string>https://analysis.windows.net/powerbi/api/Dashboard.Read.All</string>
      </ArrayOfString>
    </value>
  </setting>
  <setting name="TenantId" serializeAs="String">
    <value />
  </setting>
  <setting name="ApplicationID" serializeAs="String">
    <value>1e0cab2b-b9c7-46ab-8fff-e180f8078711</value>
  </setting>
  <setting name="ApplicationSecret" serializeAs="String">
    <value>NZ0Mb6Yx5ISj+g5M6uNkKTJB52gXGU67xy/6SFwFzGc=</value>
  </setting>
  <setting name="WorkspaceId" serializeAs="String">
    <value>me</value>
  </setting>
</PBIWebApp.Properties.Settings>